body {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  color: white;
  background-color: rgb(28, 39, 69);
  height: 70px;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 100;
  margin: 0;
  width: 100%;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.yo1 a {
  padding-left: 20%;
  color: white; /* color of the Title in the header (EquityExpedition) */
  transition: transform 0.3s ease; /* Smooth transition for the transform */
  display: inline-block;
}
.yo1 a:hover {
  color: rgba(0, 0, 0, 0.2);
  transform: scale(1.2);
}


.container {
  display: grid;
  flex: 1 0 auto;
  grid-template-columns: 1fr 1fr 0fr;
  margin: 0;
  background-color: #f1efef;
}



#whatnow,
#feargreed {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding-left: 20px;
  padding-right: 20px; /* adjust as needed */
  padding-top: 20px;
  padding-bottom: 20px;
  min-width: 0;
  height: 500px;
  text-align: center;
  size: 0cap;
  margin-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
  height: 500px;
  background-color: white;
}



#feargreed h2,
#whatnow h2{
  font-size: 24px; /* adjust as needed */
  margin-top: 25px;
  margin-bottom: 20px; /* adjust as needed */
  text-align: center;
  background-color: #f1efef;
  display: inline-block;
  width: 200px;
  
}


#whatnow ul,
#feargreed ul {
  list-style-type: none;
  padding: 0;
}



.transation-date {
  font-size: 12px;
  color: #999;
  margin-bottom: 0;
}
.transation {
  font-size: 17px;
  font-weight: bold;
  margin-top: 0%;
  margin-bottom: 5%;
}

.bought {
  color: green;
}
.sold {
  color: red;
}
footer {
  background-color: rgb(28, 39, 69);
  text-align: center;
  color: white;
  padding: 5px;
  margin-bottom: 0;
}

/*begining of the articles styling */

body.articles-body {
  background-color: #f1efef;
  overflow-x: hidden;
}
body.articles-body article {
  padding-top: 20px;
  padding-left: 25%;
  padding-right: 25%;
}
.titulo {
  font-weight: bolder;
  font-size: 30px;
}
.subtitle {
  font-weight: bold;
}
body.articles-body article p {
  line-height: 1.5;
  font-size: 18px;
  padding-bottom: 1%;
}
body.articles-body article ul li {
  /*style for the new section of the recession article */
  line-height: 1.5;
  font-size: 18px;
  padding-bottom: 1%;
}

body.articles-body .Article-time {
  color: #393838;
  font-size: 15px;
}
x

* {
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
  }
  
  .sixIndicator {
  padding-left: 10px;
  padding-right: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: auto;
  grid-template-rows: repeat(2, auto);
  background-color: #f1efef;
  gap: 10px;  
  }

  body.articles-body article {
    padding-left: 3%;
    padding-right: 3%;
  }

  header {
    height: auto;  
    background-color: rgb(28, 39, 69);
    padding: 10px 0; 
  }

  .yo1 { 
    margin-bottom: 10px;  
  }



  .menu-icon {
    display: block;
    margin-right: 5%;
  }
}




.grafica {
  background-color: #f1efef;
  padding: 5%;
  box-sizing: border-box;
}

@keyframes dropIn {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#whatnow h2,
#feargreed h2 {
  animation: dropIn 1s forwards;
}

header {
  background: linear-gradient(45deg, rgb(119, 130, 158), rgb(36, 49, 79));
}
footer {
  background: linear-gradient(45deg, rgb(126, 131, 143), rgb(36, 49, 79));
}



body {
  overflow-x: hidden;
}

#whatnow img {
  height: 300px; /* maintains the aspect ratio */
  margin: 0 auto; /* centers the image horizontally if the container is wider */

}

/* Six Indicators Container */
.sixIndicator {
  padding-left: 10px;
  padding-right: 10px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: auto;
  grid-template-rows: repeat(2, auto);
  background-color: #f1efef;
  gap: 10px;  /* You can adjust this if you want spacing between the items */
}


/* Individual Boxes */
.sixIndicator > div {
  box-sizing: border-box;
  padding: 1rem; /* some inner spacing */
  max-width: 95%;
  background-color: white;
  border-radius: 10px;
  margin: 2%;

}


.ecnomoicScore{
  background-color: #f1efef;
  
}

#myChart{
  background-color: white;
  border-radius: 10px;
  margin: 2%;
  
  
}



.container > div {
  margin: 2%;
  border-radius: 10px;
}

.contact-button {
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 5%;
  background-color: rgb(86, 105, 152);
  transition: transform 0.3s ease; /* Smooth transition for the transform */
  display: inline-block;
}


.contact-button:hover {
  background-color: #2d2677;
  transform: scale(1.2);
}
#updateButton {
  background-color: rgb(86, 105, 152);
}
#loadMoreButton {
  background-color: rgb(86, 105, 152);
  border-radius: 10px;
  transition: transform 0.3s ease; /* Smooth transition for the transform */
  display: inline-block;
  
}
#loadMoreButton:hover {
  background-color: #2d2677;
  transform: scale(1.2);
}

.register-button {
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: rgb(86, 105, 152);
  transition: transform 0.3s ease; /* Smooth transition for the transform */
  display: inline-block;
}

.register-button:hover {
  background-color: #2d2677;
  transform: scale(1.2);
}
.login-button {
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: rgb(86, 105, 152);
  transition: transform 0.3s ease; /* Smooth transition for the transform */
  display: inline-block;
}

.login-button:hover {
  background-color: #2d2677;
  transform: scale(1.2);
}

.Botonos {
  display: flex;
  justify-content: space-between;  /* Distributes the space equally between buttons */
  align-items: right;
  width: 900%;  /* Assuming you want them to span the entire width of the parent. Adjust if needed. */
  max-width: 400px;  /* You can adjust this to your liking */
  /* Centers the container if parent is wider than max-width */
}


.menu-icon {
  display: none; /* Hide by default for larger . Adjust with  query later */
  width: 30px;
  height: 20px;
  position: relative;
  cursor: pointer;
}

.bar {
  background-color: #333;
  height: 4px;
  margin-bottom: 5px;
  transition: 0.4s;
}

.menu-content {
  display: flex;
  justify-content: space-between;  /* Distributes the space equally between buttons */
  align-items: right;
  
}
.menu-content button {
  margin-left: 10px; /* This adds space between the buttons */
  height: 60px;

}


@media (max-width: 768px) { /* Adjust as needed */
  .menu-icon {
    display: block;
    margin-right: 5%;
  }
  #whatnow img {
    height: 200px;
  }
  #feargreed img {
    height: 200px;
    width: auto;
  }
  
  .menu-content {
    display: none; /* Hide buttons initially */
    position: absolute;
    top: 100%; /* Position below the trigger element */
    background-color: #eee;
    right: 0;
    width: 100%; /* Adjust width automatically based on content, or set a specific width */
    max-width: 200px; /* Minimum width, adjust as needed */
    flex-direction: column; /* Stack buttons vertically */
    z-index: 1000; /* Ensure it's on top of other content */
  }
  
  #feargreed {
    height: 350px;
  }
  #whatnow{
    height: 350px;
  }
  #whatnow p{
    margin-top: 10px;
  }


  .menu-content button {
    border: 50px;
    border-top: 1px solid #ccc;
    background-color: rgb(86, 105, 152);
    margin: 0.1%;
  }

  .menu-content button:first-child {
    border-top: none;
  }
}

.bar {
  background-color: #ffffff; /* Changing this to white */
  height: 4px;
  margin-bottom: 5px;
  transition: 0.4s;
}

.ecnomoicScore,
.sixIndicator {
  padding-left: 9%;
  padding-right: 9%;
}
.container {
  padding-left: 10%;
  padding-right: 10%;
}
.boxes {
  display: grid;
  flex: 1 0 auto;
  grid-template-columns: 1fr 1fr 0fr;
  margin: 0;
  background-color: #f1efef;
}
#affordabilityCalculator{
  padding-left: 2%;
  border-radius: 10px;
  background-color: #f2f2f5;
  margin-left: 21%;
  margin-right: 1.5%;
}

#calculateButton {
  background-color: rgb(86, 105, 152);
  border-radius: 10px;
  transition: transform 0.3s ease; /* Smooth transition for the transform */
  display: inline-block;
  padding: 10px;
}

#affordabilityCalculator,
#compoundInterestCalculator {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding-left: 20px;
  padding-right: 20px; /* adjust as needed */
  padding-top: 20px;
  padding-bottom: 20px;
  min-width: 0;
  height: 500px;
  size: 0cap;
  margin-top: 5%;
  margin-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
  background-color: white;
}

@media screen and (max-width: 768px) {
.ecnomoicScore,
.sixIndicator {
  padding-left: 2%;
  padding-right: 2%;
}
.container,
.boxes {
  padding-left: 2.5%;
  padding-right: 2.5%;
}
.boxes {
  display: grid;
  grid-template-columns: 1fr;
}

#affordabilityCalculator{
  padding-left: 2%;
  border-radius: 10px;
  background-color: #f2f2f5;
  margin-left: 2%;
  margin-right: 1.5%;
  height: 535px;
}
#compoundInterestCalculator {
  margin-left: 2%;
  margin-right: 2%;
  padding-left: 2%;
  border-radius: 10px;
  background-color: #f2f2f5;
}

}



label, input, button {
  display: block; /* Makes each element take up the full width */
  margin-bottom: 10px; /* Adds space below each element */
}




#calculateButton:hover {
  background-color: #2d2677;
  transform: scale(1.2);
}


