header{
    color: white;
    text-decoration: underline;
    background-color: rgb(28, 39, 69);
    text-align: center;
    padding: 20px;   
}
body{
    background-color: #808080;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    background-color: #808080;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    height: 200vh;
}

#news-section, #moves-section, #portfolio-section {
    padding: 20px; /* adjust as needed */
}

#news-section h2, #moves-section h2, #portfolio-section h2 {
    font-size: 24px; /* adjust as needed */
    margin-bottom: 20px; /* adjust as needed */
}

#news-section ul, #moves-section ul, #portfolio-section ul {
    list-style-type: none;
    padding: 0;
}

#news-section ul li {
    margin-bottom: 20px; 
}


#news-section ul li a, #moves-section ul li a {
    color: #000; /* adjust as needed */
    text-decoration: none; /* adjust as needed */
    font-size: 20px;
}
#news-section ul li p {
    color: #3b3a3a; /* adjust as needed */
    margin-bottom: 2%;
}

#news-section ul li a:hover, #moves-section ul li a:hover {
    text-decoration: underline; /* adjust as needed */
    color: blue;
}

.news-date {
    font-size: 12px; /* adjust as needed */
    color: #999; /* adjust as needed */
}

#moves-section ul li p{
    color: #3b3a3a; /* adjust as needed */
    margin-bottom: 0%;
}
#portfolio-section{
    text-align: center;
}


footer{
    background-color: rgb(28, 39, 69);
    text-align: center;
    color: white;
    padding: 20px;
}
body.articles-body{
    background-color: #808080;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 5%;
    padding-right: 5%;
}
body.articles-body .Article-time{
    color: #393838;
    font-size: 15px;
}

